div.splash-min
	h1 About Me
div.about
	div.card-container
		div.card-background
			div.card-image
				img(src="images/about/profile.jpg")
			div.card-description
				h4 Tanatorn Nantawinyoo
				p.
					Born in Thailand, I came to Canada at the age of 7 with my mom and brother. 
					Even at a very young age I was very interested in electronics, computers especially. 
					Coming into University, I did not know that I would fall in love with programming.  
					Figuring out different methods and algorithms to solve difficult problems excites me. 
					This was when I really considered software development as one of the things I would 
					love to spend my life doing. I hope to be able to give back to the community that has
					 taught me so much.

	