div
    div.splash
        h1 Tanatorn Nantawinyoo
        p Student at the University of Waterloo
    div.group
        div.card-container
            div.card-item
                div.card-background(ui-sref="about")
                    div.card-image
                        img(src="images/category/about_me.png")
                    div.card-description
                        h4 About Me
            div.card-item
                div.card-background(ui-sref="project")
                    div.card-image
                        img(src="images/category/projects.png")
                    div.card-description
                        h4 Projects
            div.card-item
                div.card-background(ng-click="home.Resume()")
                    div.card-image
                        img(src="images/category/resume.png")
                    div.card-description
                        h4 Resume




