div.splash-min
    h1 Projects
div.project
    div.card-container
        div.card-item
            div.card-background.clickable
                a(href="http://devpost.com/software/airchat").link
                div.card-image#airchat
                    img(src="images/project/air_chat.png")
                div.card-description
                    h3 Air Chat
                    p Capture user engagement for YouTube streams with this chat interface
        div.card-item
            div.card-background.clickable
                a(href="https://play.google.com/store/apps/details?id=com.tnantawinyoo.todo2").link
                div.card-image#todo
                    img(src="images/project/todo.png")
                div.card-description
                    h3 To Do
                    p To Do is an application used to keep track of the things you need to do.
        div.card-item
            div.card-background(ui-sref="whiteboard").clickable
                div.card-image#whiteboard
                    img(src="images/project/whiteboard_doodle.png")
                div.card-description
                    h3 Whiteboard
                    p A collaborative whiteboard that allows you to share your ideas with others.
