div.blogCreate-container(ng-init="blog.init()")
    form(ng-submit="blog.create()")
        div.text-input
            span.meta#titleAddon Title
            input(type='text' ng-model='blog.title' aria-describedby='titleAddon')
        div.text-input
            span.meta#body Body
            textarea(rows='10' cols='60'  aria-describedby='body' style="width:100%")#editor
        div.image-list
            div(ng-repeat='image in blog.imageArray')
                p URL :
                    a {{image.data.substring(image.data.indexOf('public')+6)}}
                img(ng-src="{{image.data.substring(image.data.indexOf('public')+6)}}").post-image
        button.button(ngf-select ng-model="blog.file" ngf-multiple="false" type="button") Choose a file
        div.progress
            div.progress-bar(role='progressbar' aria-valuenow='{{blog.progressPercentage}}' aria-valuemax='100' aria-valuemin='0' style='width:{{blog.progressPercentage}}%')
                span.sr-only {{blogCreate.progressPercentage}}% Complete
        div.text-input
            input(type='text' ng-model='blog.summary')
        div.text-input
            span.meta#tags Tags ( Separated by " , " )
            input(type='text' ng-model='blog.rawTags' aria-describedby='tags')
        div#dateInput
            input(type='text' ng-model='blog.rawDate' placeholder='Year-Month-Date')
        div(ng-show='blog.uploadComplete').alert.alert-default
            p Upload Complete
        button.button Save



