div.blog-container

    div.post-container.detail(ng-init="blogDetail.init()")
        div.post-item
            div.post-header
                div.post-title
                    h3 {{::blogDetail.post.title}}
                div.post-meta
                    div.post-date
                        p {{::blogDetail.post.date | date: 'longDate'}}
            div.post-body
                p(ng-bind-html="::blogDetail.post.body | unsafe")
    dir-disqus(disqus-shortname='tnantawinyoo', disqus-identifier='{{ blogDetail.post._id }}', disqus-title='{{ blogDetail.post.title }}',
    disqus_url='{{window.location.href}}')



                
