//
   Created by Tanatorn on 15-07-24.
div.blog-container(ng-init="blog.init()")
    div.post-container
        div.post-item(ng-repeat="post in blog.posts")
            div.post-header.clickable
                div.post-title(ui-sref="blog.detail( {id : '{{post._id}}' } )")
                    h3 {{::post.title}}
                div.post-meta
                    div.post-date
                        p {{::post.date | date: 'longDate'}}
            div.post-body
                div.text-container
                    p(ng-bind-html=" post.summary ? post.body.substring(0,post.summary) : post.body | unsafe")
                    a.read-more(ng-show="post.summary" ui-sref="blog.detail( {id : '{{post._id}}' } )") Read More
                div.command
                    button(ng-show="::blog.isLoggedIn" ui-sref="blog.edit({id : '{{post._id}}' } )") edit
                    button(ng-show="::blog.isLoggedIn" ng-click="blog.delete(this)") delete

    div.selector-container
        div.control-panel
            button.button#createPost(ng-click="blog.createPost()" ng-show="::blog.isLoggedIn") Create
            button.button(ng-click="blog.buttonAction()") {{::blog.buttonLabel}}
        ng-active.tag-list#tag-list
            div.node(ng-repeat="tag in blog.tags" ng-click="blog.getPostsByTag(tag,this)")
                div.line
                div.circle
                    p.label {{::tag}}
                div.line(ng-hide="blog.tags[blog.tags.length -1 ] != tag")

    div#pagination
        ng-active.pagination#page-list
            li(ng-repeat="page in [] | range : blog.pageCount " id="{{page}}" class="{{blog.currentPage == page ? 'active' : ''}}")
                a.pagination-element(ng-click="blog.getPage(this, false)") {{page}}


