//
   Created by Tanatorn on 15-07-25.
div.splash-min
    h1 Login
div.login-container
    form(ng-submit="login.submit()").login-form
        span Username &nbsp;
        input(ng-model="login.username" type="text")
        br
        br
        span Password &nbsp;
        input(ng-model="login.password" type="password")
        br
        input.button(type="submit" value="Login")