@import "bootstrap/bootstrap.less";
@import "sf/usesf.css";



//General
@background-color : #D8D8D8;
@text-color-grey : #555;

@swag : #444;

//Sidebar
@sidebar-color : #444444;
@sidebar-width : 60px;
@white : #fff;
@san-francisco: 'San Francisco Display', sans-serif;
@default-shadow: 0px 1px 2px rgba(0, 0, 0, .50);


//Card Group
@screen-width-card: 1110px;

@viewport{
  zoom: 1.0;
  width: device-width;
}
//Default Text - San Francisco Thin
html {
  position: relative;
  min-height: 100%;
}
body {
  min-height: 100%;
  margin-bottom: 200px;
  @media (max-width: @screen-sm-max) {
    margin-bottom: 220px;
  }
  
  font-family: @san-francisco;
  font-weight: 200;
  background-color: @background-color;
}


.clickable {
    cursor: pointer;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
}


.sidebar-container {
  position: fixed;
  width: @sidebar-width;
  margin-left: -15px;
  margin-bottom: -5000px;
  padding-bottom: 5000px;
  background-color: @sidebar-color;
  z-index: 1000;
  .box-shadow(@default-shadow);
}

.sidebar {
  position:fixed;
  line-height: @line-height-computed;
  width: @sidebar-width;
  background-color: @sidebar-color;
  z-index: 100;


  .list-item {
    color: white;
    margin-top: 10px;
    list-style-type: none;
    padding: @navbar-padding-vertical 0px;
    font-size: @font-size-large;
    display: list-item;
    margin-left: -40px;
    height: 55px;
    cursor: pointer;
    &:focus {
      text-decoration: none;

    }

    opacity: 0.75;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
     transition: 0.3s ease-in-out;
     &:hover{
       opacity: 1;
       -webkit-transition: 0.3s ease-in-out;
       -moz-transition: 0.3s ease-in-out;
       -o-transition: 0.3s ease-in-out;
       transition: 0.3s ease-in-out;
    }

    .item {
      text-align: left;
      margin-left: 10px;
      i{
        font-size: 30px;
      }
      p {
        font-family: @san-francisco;
        font-weight: 200;
        color: white;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 10px;
        display: none;
        visibility: hidden;
      }
    }

  }

}

.list-item.active {
  opacity: 1;
}


.sidebar.expanded{
  width: 300px;

  .item p {
      margin-left: 20px;
      visibility: visible;
      display: inline-block;
      vertical-align: middle;
    }
}

.main {
  margin-left: @sidebar-width;
}

.icon {
  margin: 0 15px;
}

.image {
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
}

.round-image{
  margin: 0 15px;
  border-radius: 50%;
}

.button {
  .btn();
  border-color: @sidebar-color;
  background-color: @sidebar-color;
  color:white;
  font-family: @san-francisco;
  font-weight: 200;
  margin: 0 auto;
  display: block;
  .box-shadow(@default-shadow);
  &:hover {
    border-color:#979797;
    background-color:#979797
  }
  &:focus {
    color:white;
  }
}



// Loading Spinner
.spinner-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 15%;
  background-color: black;
  opacity: 0.5;
  margin-left: -15px;
  .loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }
  .loader,
  .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}



#content {
  background-color: @background-color;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.splash {
  text-align: center;
  height: 200px;
  min-height: 200px;
  padding-top: 40px;
  font-family: @san-francisco;
  background: @background-color;
  margin-bottom: 50px;

  .make-row();
  color: @text-color-grey;
  h1 {
    font-weight: 100;
    font-size: 70px;
    line-height: 70px;
    @media (max-width: @screen-sm) {
      font-size: 60px;
      line-height: 60px;
    }
    @media (max-width: @screen-phone) {
      font-size: 50px;
      line-height: 50px;
    }
  }
  p {
    font-weight: 100;
    font-size: 30px;
    line-height: 28px;
    @media (max-width: @screen-sm-max) {
      font-size: 25px;
      line-height: 25px;
    }
    @media (max-width: @screen-xs-max) {
      font-size: 20px;
      line-height: 26px;
    }
  }
}
.splash-min {
  .make-row();
  padding-top: 30px;
  background: @background-color;
  text-align: center;
  height: 150px;
  color: @text-color-grey;
  padding-bottom: 20px;


  h1 {
      font-weight: 100;
      font-size: 70px;
      line-height: 70px;
  }
  

}

.banner {
  .make-row();
  min-height: 400px;
  height: auto;
  background: @background-color;
  .banner-circles {
    padding-top: 170px;
    .make-sm-column-offset(11);
    .make-sm-column(1);
    .make-xs-column-offset(10);
    .make-xs-column(2);

    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

}

.group {
  .make-row();
  min-height: 450px;
  height: auto;
  background-color: @background-color;
  padding-bottom: 50px;
  .card-container {
    @media (min-width: 1271px){
      .make-md-column-offset(1);
      .make-md-column(10);
      .make-md-column-offset(1);
      position: inherit;

    }

    @media (max-width: 1270px) and (min-width: @screen-md-min) {
      .make-md-column(12);
      position: inherit;

    }
    @media (max-width: @screen-sm-max) and (min-width: @screen-sm-min) {
      .make-sm-column(12);
      position: inherit;

    }

    @media (max-width: @screen-xs-max) {
      .make-xs-column(12);
      padding:  0;
      position: inherit;

    }
    position: inherit;

    .card-item {
      margin-left: auto;
      margin-right: auto;

      .make-md-column(4);
      @media (max-width: @screen-width-card) and (min-width: @screen-md-min) {
        .make-md-column(4);
        position: inherit;

      }
      @media (max-width: @screen-sm-max) {
        .make-sm-column(4);
        position: inherit;

      }
      @media (max-width: @screen-width-card) {
        margin-top: 20px;
        .make-sm-column(4);
        position: inherit;

      }
      @media (max-width: @screen-xs-max) {
        .make-xs-column(12);
        position: inherit;

      }
      position: inherit;
      .card-background {
        .make-row();
        .border-top-radius( 5px );
        .border-bottom-radius( 5px );
        .box-shadow(@default-shadow);
        &:hover {
          .box-shadow(0px 2px 4px 0px rgba(0,0,0,0.50));
        }
        background-color: white;
        @media(max-width: @screen-md-max){
          max-width: 400px;
        }
        height: 100%;
        width: 100%;


        @media(max-width: @screen-xs-max){
          width: 75%;
        }

        margin-left: auto;
        margin-right: auto;
        position: inherit;
        &:hover{
          background-color: #f1f1f1;
        }
        cursor: pointer;

        .card-title {
          .make-xs-column(12);
          text-align: center;
          h4 {
            font-family: @san-francisco;
            font-weight: 100;
            font-size: 25px;
            color: @sidebar-color;
          }
        }

        .card-image {
          .make-xs-column(12);
          .border-top-radius(5px);
          .border-bottom-radius(5px);
          padding: 0px;
          height: auto;
          position: inherit;
          img {
            display: block;
            height: 100%;
            width: 100%;
          }


        }

        .card-description {
          .make-xs-column(12);
          text-align: center;
          position: inherit;

          h4 {
            font-family: @san-francisco;
            font-weight: 300;
            font-size: 25px;
            line-height: 50px;
            @media (max-width:@screen-sm-max) and (min-width:@screen-xs-max) {
              line-height: 30px;
            }
            color: @sidebar-color;
          }

        }
      }

    }
  }
}

.contact {
  .make-row();
  height: 200px;
  @media(max-width: @screen-sm-max){
    height: 220px;  
  }
  margin-top: auto;
  margin-bottom: auto;
  background-color: @sidebar-color;
  padding-top: 40px;
  position:absolute;
  bottom: 0;
  width: 100%;
  .contact-content {
    .make-xs-column(12);
    text-align: center;
    p {
      color:white;
      font-size:15px;
    }
    a {
      color:white;
    }
  }
  .contact-icon-container {
    padding-top:10px;
    .make-xs-column(12);
    text-align: center;
    color:white; 
    .contact-icon {
      padding: 10px;
      &:hover {
        color:@background-color;
      }
    }
    a {
      color:white;
    }

  }
  .copyright {
    .make-xs-column(12);
    margin-top: 10px;
    color:white;
    text-align: center;
  }
}

// Project Page

.project {
  .make-row();
  margin: 25px 0;
  position: inherit;
  .card-container{
    @media (min-width: @screen-md-min) {
      .make-md-column(12);
      position: inherit;

    }
    @media (max-width: @screen-sm-max) {
      .make-sm-column(12);
      position: inherit;

    }

    @media (max-width: @screen-sm-min) {
     .make-xs-column(12);
      position: inherit;

    }
    .card-item {
      .make-md-column(4);
      .make-xs-column(12);
      display: inline-block;
      margin: 15px 0;
      .card-background {
        .border-top-radius( 5px );
        .border-bottom-radius( 5px );
        .box-shadow(@default-shadow);
        &:hover {
          .box-shadow(0px 2px 4px 0px rgba(0,0,0,0.50));
        }
        margin: 0 auto;
        background-color: white;
        padding: 0px;
        width: 100%;
        min-height: 400px;
        @media (max-width: @screen-sm-min) {
         width: 280px;
        }
        position: inherit;
      }
      .card-title {
        padding-top: 15px;
        text-align: center;
        h4{
          font-size: 40px;
          font-weight: 200;
          font-family: @san-francisco;
        }
      }
      
      .card-image {

        min-height: 300px;

        @media(min-width: @screen-xs-max) {
          min-height: 400px;
        }

        @media (min-width: @screen-sm-max) {
          min-height: 330px;
        }

        @media (min-width: @screen-md-max){
          min-height: 400px;
        }


        img {
          margin-left: auto;
          margin-right:auto;
          display: block;
          max-width: 300px;
          width:80%;
        }
      }
      #todo {
        background: url('/images/project/todo_background.png') 100% no-repeat;
        .border-top-radius( 5px );
        position: relative;
        img {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }

      #whiteboard {
        background: url('/images/project/whiteboard_background.png') 100% no-repeat;
        .border-top-radius( 5px );
        position: relative;
        img{
          .border-top-radius( 5px );
          .border-bottom-radius( 5px );
          position: absolute;
          left: 0;
          right: 0;
          top:25%;

        }
      }
      
      #airchat{
        background: #363636;
        position: relative;
        .border-top-radius( 5px );
        img{
          position: absolute;
          top:25%;
          left: 0;
          right: 0;
        }

      }
      .card-description {
        min-height:138px;

        @media (max-width: @screen-sm-max) {
          min-height: 100px;
        }

        h3 {
          margin-top: 15px;
          text-align: center;
          font-size: 30px;
          font-weight: 100;
        }
        hr {
          margin: 0;
          border-color: @text-color-grey;
        }
        p {
          text-align: center;
          padding: 0 20px 20px;
          font-size: 18px;
          
        }
      }
      .card-overlay{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        &:hover  {
          background-color: black;
          opacity: 0.5;
        }
      }
    }
  }


  
}




// About Me
.about {
  .make-row();
  margin: 30px 0;
  .card-container {
    margin-bottom: 70px;
    .make-xs-column(12);
    position: inherit;
      .card-background {
        .make-row();
        .border-top-radius( 5px );
        .border-bottom-radius( 5px );
        .box-shadow(@default-shadow);
        &:hover {
          .box-shadow(0px 2px 4px 0px rgba(0,0,0,0.50));
        }
        margin: 0 auto;
        background-color: white;
        padding: 0px;
        height: 400px;
        width: 100%;
        max-width: 700px;
        @media (max-width: 830px){
          height : 100%; 
        }
        
        position: inherit;
      }
      .card-image {
        .make-xs-column(12);
        @media (min-width: 830px){
          .make-sm-column(5);  
          padding: 0;
        }

        
        height: 100%;
        padding: 0;
        background-color: @text-color-grey;
        @media (min-width: 831px){
          .border-left-radius( 5px );
        }

        @media (max-width: 830px){
          .border-top-radius (5px);
          height: 65%;
        }

        
        img {
          
          @media (min-width: 831px){
            .border-left-radius( 5px );
          }

          @media (max-width: 830px){
            .border-top-radius (5px);
          }
          width: 100%;
          height: 100%;
        }
        position: inherit;

      }
      .card-description {
        .make-xs-column(12);
         @media (min-width: 830px){
          .make-sm-column(7);  
        }
        position: inherit;

        @media (max-width: @screen-xs-max){
            margin: 15px 15px 0;
        }
        h4{
          font-size: 40px;
          font-weight: 100;
          font-family: @san-francisco;
          @media (max-width: @screen-sm-max){
            font-size: 30px;
          }
        }
    
        p {
          text-align: justify;
          font-size: 18px;
          @media (max-width: @screen-sm-min){
            text-align: left;
          }
          
        }
      }
      
  }
}

//Blog Page
.blog-container {
  .make-row();
  margin: 20px 0;
  .post-container {
    .make-sm-column(9);

    .post-item {
      .make-row();
      background-color: white;
      .border-top-radius( 5px );
      .border-bottom-radius( 5px );
      .box-shadow(@default-shadow);
      margin: 15px 0;

      .post-header {
        .make-row();
        margin: 0;
        .border-top-radius( 5px );
        background-color: @sidebar-color;
        .post-title {
          .make-sm-column(12);
          height: auto;
          text-align: center;
          margin-top: 20px;
          h3 {
            line-height: 60px;
            margin: 0;
            color:white;
            font-family: @san-francisco;
            font-weight: 100;
            font-size: 45px;
            padding-top: 20px;
          }
        }
        .post-author {
          .make-sm-column(12);
          display: block;
          padding: 0;
          text-align: center;
          h4 {
            margin: 0;
            color:white;
            font-family: @san-francisco;
            font-weight: 100;
            font-size: 21px;

          }
        }

        .post-meta {
          .make-sm-column(12);
          padding:0;
          .post-date {
            .make-xs-column(12);
            padding-top: 15px;
            p {
              font-size: 15px;
              color:white;
              font-weight: 100;
              text-align: right;
            }
          }

          .post-tags{
            .make-xs-column(6);
            padding-top: 15px;
            p {
              font-size: 15px;
              color:white;
              font-weight: 100;
              text-align: right;
            }
          }

        }
        
      }
      .post-body {
        .make-md-column(12);
        padding: 15px;
        height: auto;
        p {
          padding: 0 15px;
          font-size: 17px;
          text-align: justify;
          line-height: 1.5;
        }
        pre {
          background-color: #23241f;
          color: white;
        }
        a {
          .pull-right;
          font-family: @san-francisco;
          font-size: 16px;
          margin-bottom: 16px;
          margin-right : 28px;
        }
        img{
          height:50%;
          width:50%;
          margin:auto;
          display: block;
        }

        .text-container {
          float:left;
          width:100%;

        }

      }
      .post-comment {
        .make-md-column(12);
        box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.50);
        background-color: #FAFAFA;
        padding: 15px;
        height: 120px;
        .comment-image {
          width:50px;
          float:left;
          position: relative;
          height: 100%;
          img {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            margin: auto;
          }
        }

        .comment-body {
          margin: auto 15px;
          padding-left: 50px;
          vertical-align: middle;
          .author {
            margin-top: -15px;
            h3 {
              font-size: 18px;
              font-weight: 300;
            }
          }
          .text {
            text-align: justify;
          }
        }
      }

      .post-comment-input {
        .make-md-column(12);
        box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.50);
        .border-bottom-radius(5px);
        background-color: #FAFAFA;
        padding: 15px;
        width: 100%;
        float:left;

        .comment-input {
          position:relative;
          .comment-text-input {
            .form-control;
            width: 100%;
            min-height: 40px;
            resize: none;
            overflow-y: hidden;
            -ms-word-wrap: break-word;
            word-wrap: break-word;
          }
          .character-count{
            position:absolute;
            right : 0;
            bottom : 0;
            color: #999999;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: default;;


          }
          .button {
            margin-top: 10px;
          }
        }

      }
    }
    .comment-sign-in {
      margin: 30px auto;
      display: block;
      text-align: center;
      width: 300px;
      .comment-facebook {
        .box-shadow(@default-shadow);
        background: #FAFAFA;
        border-radius: 5px;
        padding: 15px;
        img {
          height: 30px;
          width: 30px;
          display: inline-block;
          margin-right: 15px;
        }
        span {
          font-size: 20px;
          vertical-align: middle;
        }
      }
    }

  }
  .post-container.detail {
    .make-sm-column(12);
  }

  .selector-container {
    .make-sm-column(3);
    @media (max-width: @screen-xs-max) {
      .make-xs-column(12);
    }
    margin-top: 15px;
    .control-panel {
      .make-xs-column(12);
      #createPost {
        margin-bottom: 20px;
      }
    }
    .tag-list {
      .make-xs-column(12);

      h4 {
        font-weight: 200;
        font-size: 25px;
        padding-left: 25px;
        margin-bottom: 0;
      }

      @media (max-width: @screen-sm-max) and (min-width: @screen-sm-min) {
        h4 {
          padding-left: 0;
        }
      }
      .node {
        width: 100px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;

        .line {
          height: 25px;
          width: 1px;
          //background-color: #979797;
          //margin: 10px 7px;

        }
        .circle {
          border-radius: 50%;
          width: 15px;
          height: 15px;
          background-color: white;
          box-shadow: @default-shadow;
          -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
          -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
          -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
          transition:width 300ms ease-in-out, height 300ms ease-in-out;


          .label {
            padding-top: 0px;
            padding-left: 30px;
            display: block;
            color: @sidebar-color;
            font-weight: 100;
            font-size: 17px;

            -webkit-transition: padding-left 300ms, padding-top 300ms, ease-in-out;
            -moz-transition: padding-left 300ms ,padding-top 300ms, ease-in-out;
            -ms-transition: padding-left 300ms ,padding-top 300ms, ease-in-out;
            -o-transition: padding-left 300ms ,padding-top 300ms, ease-in-out;
            transition: padding-left 300ms ,padding-top 300ms, ease-in-out;
          }
        }

        &:hover {
          .circle {
            margin-left: -2px;
            width:20px;
            height: 20px;
            -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
            -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
            -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
            transition:width 300ms ease-in-out, height 300ms ease-in-out;
            background-color: @sidebar-color;
            .label {
              padding-left: 32px;
              padding-top: 2px;
              -webkit-transition: padding-left 300ms, padding-top 300ms, ease-in-out;
              -moz-transition: padding-left 300ms ,padding-top 300ms, ease-in-out;
              -ms-transition: padding-left 300ms ,padding-top 300ms, ease-in-out;
              -o-transition: padding-left 300ms ,padding-top 300ms, ease-in-out;
              transition: padding-left 300ms ,padding-top 300ms, ease-in-out;

            }
          }
        }

      }
      .node.active {
        .circle {
          margin-left: -2px;
          width:20px;
          height: 20px;
          -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
          -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
          -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
          transition:width 300ms ease-in-out, height 300ms ease-in-out;
          background-color: @sidebar-color;
          .label {
            padding-left: 32px;
            padding-top: 2px;
            -webkit-transition: padding-left 300ms, padding-top 300ms, ease-in-out;
            -moz-transition: padding-left 300ms ,padding-top 300ms, ease-in-out;
            -ms-transition: padding-left 300ms ,padding-top 300ms, ease-in-out;
            -o-transition: padding-left 300ms ,padding-top 300ms, ease-in-out;
            transition: padding-left 300ms ,padding-top 300ms, ease-in-out;

          }
        }
      }
    }


  }

  #pagination {
    .make-sm-column(12);
    text-align: center;
    float: left;
    width: 100%;
    .pagination {
      box-shadow: @default-shadow;
      .pagination-element {
        color: @sidebar-color;
      }
      .active {
        .pagination-element {
          color:white;
          border-color:@sidebar-color;
          background-color:@sidebar-color;
        }
      }
    }
  }
}

#disqus_thread{
  margin:20px;
}

//Blog Create

.blogCreate-container {
  .make-row();
  margin: 15px;
  .text-input {
    .make-xs-column(12);
    .input-group();
    margin: 15px 0;


    input {
      display: block;
      width: 100%;
      height: @input-height-base;
      padding: @padding-base-vertical @padding-base-horizontal;
      font-size: @font-size-base;
      line-height: @line-height-base;
      color: @input-color;
      background-color: @input-bg;
      background-image: none;
      border: 1px solid @input-border;
      border-radius: @input-border-radius;
    }
    .meta {
      .input-group-addon();
    }
  }

  .post-image {
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
  }

  #dateInput {
    .make-sm-column(12);
    margin: 15px 0;
    input {
      .form-control();
    }
  }

  .progress {
    .make-sm-column(12);
    margin: 15px 0;
  }

}
//Login
.login-container {
  .make-row();
  .login-form {
    .input-group();
    text-align: center;
    display: block;
    .button {
      margin: 15px auto;
    }

  }
}

.whiteboard-container {
  .make-row();
  margin: 15px;
  .toolbox-container {
    .make-xs-column(12);
    .toolbox {
      .make-row();
      display: block;
      width: 50%;
      border-radius: 5px;
      background-color: white;
      margin: 15px auto;
      padding: 15px 0;
      .box-shadow(@default-shadow);
      .button-container {
        @media(min-width: @screen-sm-min) {
          .make-sm-column(3);
        }
        @media (max-width: @screen-xs-max) {
          .make-xs-column(12);
        }
        .button {
          display: block;
          margin: 15px auto;
        }
      }
    }
  }
  #whiteboard {
    .make-xs-column(12);
    width: 100%;
    height: 100%;
    min-height: 500px;
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 5px;
    .box-shadow(@default-shadow);

  }
}

