footer.footer.contact
    div.contact-content
        p
            | If you have any questions please feel free to contact me at
            br
            a(href="mailto:tanatorn.nantawinyoo@uwaterloo.ca") tanatorn.nantawinyoo@uwaterloo.ca
            |  or click these links below
        div.contact-icon-container
            a.contact-icon(href="https://github.com/tanatornn96")
                i.fa.fa-github-alt.fa-fw.fa-2x
            a.contact-icon(href="http://ca.linkedin.com/in/tnantawinyoo")
                i.fa.fa-linkedin.fa-fw.fa-2x
            a.contact-icon(href="http://www.facebook.com/tanatornn96")
                i.fa.fa-facebook.fa-fw.fa-2x
        div.copyright
            p Copyright © Tanatorn Nantawinyoo 2015