extends layout

block header
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(href='/stylesheets/font-awesome/font-awesome.min.css', rel="stylesheet")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/monokai_sublime.min.css')
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    script(src="javascripts/libraries/bootstrap.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-cookies.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.min.js")
    script(src="javascripts/libraries/angular-ui-router.min.js")
    script(src="javascripts/libraries/ng-file-upload.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js')
    script(src='ckeditor/ckeditor.js')
    script(src="javascripts/libraries/bootbox.min.js")    
    script(src="https://cdn.socket.io/socket.io-1.3.6.js")
    script(src="javascripts/app.min.js")
    script.
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-9705764-2', 'auto');
        ga('send', 'pageview');
    meta(name="viewport" content="user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, width=device-width")
    base(href="/")



block content
    div(ng-app='app').container-fluid#content
        include sidebar
        div.main
            div(ui-view)
        include footer
        include spinner
        include modal
        div#fb-root
