// Modal
div#notification-modal.modal.fade(role='dialog')
    div.modal-dialog
        // Modal content
        div.modal-content
            div.modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title {{modalTitle}}
            div.modal-body
                p {{modalDesc}}
            div.modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Dismiss
                button.btn.btn-danger(type='button' ) Yes
