
div.sidebar-container(ng-navigation ng-controller='NavigationController as nav')
    ul.sidebar(ng-active)
        li.list-item#expander
            div.item
                i.fa.fa-bars.fa-fw.fa-2x
        //li.list-item(ng-show="nav.user != null")
            div.item
                i.fa.fa-bars.fa-fw.fa-2x
                p Hello, {{nav.user}}
        li.list-item(ui-sref="home")#home-item
            div.item
                i.fa.fa-home.fa-fw.fa-2x
                p Home
        li.list-item(ui-sref="about")#about-item
            div.item
                i.fa.fa-user.fa-fw.fa-2x
                p About Me
        li.list-item(ui-sref="project")#project-item
            div.item
                i.fa.fa-code.fa-fw.fa-2x
                p Project
        li.list-item(ui-sref="blog.index")#blog-item
            div.item
                i.fa.fa-pencil.fa-fw.fa-2x
                p Blog
        li.list-item(ng-click="nav.resume()")
            div.item
                i.fa.fa-file-text-o.fa-fw.fa-2x.
                p Resume



