div.splash-min
   h1 Whiteboard
div.whiteboard-container
   div.toolbox-container
      div.toolbox
         div.button-container
            button.button(ng-click="whiteboard.toolSelect('pencil')") Pencil
         div.button-container
            button.button(ng-click="whiteboard.toolSelect('eraser')") Eraser
         div.button-container
            button.button(ng-click="whiteboard.undo()") Undo
         div.button-container
            button.button(ng-click="whiteboard.clear()") Clear
   canvas#whiteboard(ng-init="whiteboard.init()" ng-mousemove="whiteboard.draw($event)"
   ng-mousedown="whiteboard.draw($event)" ng-mouseup="whiteboard.draw($event)")
